source https://www.nuget.org/api/v2

nuget Bcrypt.NET
nuget DotEnvFile
nuget jwt
nuget MyCouch
nuget Nancy
nuget Nancy.Hosting.AspNet
nuget Nancy.Hosting.Self
nuget Mono.Posix
nuget Nancy.Validation.FluentValidation
nuget netfx-System.DateTimeEpochExtensions
nuget ShopifySharp